*.state
config.yaml
characters
.DS_Store
airoboros*.yaml
scratchpad
*.bak
.chroma
dist/
build/
*.egg-info
venv/
*.pyc
__pycache__
.seed
output
topics*.txt
*.jsonl

# Remove if we want to use poetry
poetry.lock
pyproject.toml
